<div class="table">
  <table class="dados" border="1">
    <thead>
    <tr>
      <th>Id Integração</th>
      <th>Data Inicial</th>
      <th>Data Final</th>
      <th>Data Movimento</th>
      <th>Cadastro lido</th>
      <th>Financeiro lido</th>
      <th>Divida lido</th>
      <th>Cadastro Integrado</th>
      <th>Financeiro Integrado</th>
      <th>Divida Integrado</th>
      <th>Integrado</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td>Id Integração</td>
        <td>Data Inicial</td>
        <td>Data Final</td>
        <td>Data Movimento</td>
        <td>Cadastro lido</td>
        <td>Financeiro lido</td>
        <td>Divida lido</td>
        <td>Cadastro Integrado</td>
        <td>Financeiro Integrado</td>
        <td>Divida Integrado</td>
        <td>Integrado</td>
      <tr>
    </tbody>
  </table>
</div>
