:root{
  background-image: url('https://img.freepik.com/fotos-gratis/https://img.freepik.com/vetores-gratis/abstrato-azul-classico_23-2148420118.jpg?w=740&t=st=1714688205~exp=1714688805~hmac=a2c4561b86774a43de4fe42901c29d847823bbf0c8b196c5889bee1c1ac3979e-de-folhas-de-papel-triangular-em-tons-azul-com-espaco-de-copia_23-2148320443.jpg?w=740&t=st=1714688179~exp=1714688779~hmac=4594ff573f9beaed6447e45c7f9ed0b721bff900e1e7e9430e78594d06464384://img.freepik.com/vetores-gratis/fundo-ondulado-estilo-papel_23-2149116137.jpg?w=826&t=st=1714677787~exp=1714678387~hmac=bc6c4fc19ad49ac2fcc3b332e1de1bcd622ce5e66ba310b873065b4a09046b4a');
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;
  display: block;
  background-position: center;
  background-size: cover;
}
